<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <title>MeetupTitle</title>
  </head>
  <body>
    <div id="app">
      <div>
        <!-- 
        <label><input type="radio" value="1" v-model="meetupId"/> 1</label>
        <label><input type="radio" value="2" v-model="meetupId"/> 2</label>
        <label><input type="radio" value="3" v-model="meetupId"/> 3</label>
        <label><input type="radio" value="4" v-model="meetupId"/> 4</label>
        <label><input type="radio" value="5" v-model="meetupId"/> 5</label> 
        -->

        <span v-for="n in 5" :key="n">
          <label><input type="radio" :value="n" v-model="meetupId"/> {{ n }}</label>
        </span>
      
        <hr />

        <h3>{{ meetupTile }}</h3>
      </div>
    </div>

    <script type="module" src="script.js"></script>
  </body>
</html>
